﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="playback-info" class="drag-and-snap rounded-module anchor-bottom anchor-left anchor-right">
    
    <div id="playback-info-current" class="content-centered">
        <span id="current-song">Song Name...</span>
        <span id="current-artist">Artist...</span>
        <span>|</span>
        <span id="current-playtime">00:00</span>
        <span>|</span>
        <span id="current-diration">04:32</span>
        <span>|</span>
    </div>
    <hr/>

    <div class="content-centered">
        <button id="button-play" class="button-round"><img src="~/images/play-icon.gif"/></button>
        <button id="button-pause" class="button-round"><img src="~/images/pause-icon.gif"/></button>
        <button id="button-stop" class="button-round"><img src="~/images/stop-icon.gif"/></button>
    </div>
    <hr/>

    <div class="left-column">
        <button id="button-next-song" class="button-round float-right"><img src="~/images/next-song-icon.gif" /></button>
        <button id="button-fast-forward" class="button-round float-right"><img src="~/images/fast-forward-icon.gif" /></button>
        <button id="button-rewind" class="button-round float-right"><img src="~/images/rewind-icon.gif" /></button>
        <button id="button-last-song" class="button-round float-right"><img src="~/images/last-song-icon.gif"/></button>
    </div>
    <div class="right-column">
        <button id="button-open-library" class="button-round float-left"><img src="~/images/playlist-icon.gif"/></button>
        <button id="button-open-playlist" class="button-round float-left"><img src="~/images/library-icon.gif"/></button>
        <button id="button-open-equalizer" class="button-round float-left"><img src="~/images/equilizer-icon.gif"/></button>
        <button id="button-repeat-song" class="button-round float-left"><img src="~/images/repeat-icon.gif"/></button>
        <button id="button-shuffle" class="button-round float-left"><img src="~/images/shuffle-icon.gif"/></button>
    </div>
    
    <div class="control-panel-sliders">
        <input type="range"/>
    </div>

    <div class="control-panel-sliders">
        <input type="range" min="0" max="100" value="50"/>
    </div>
    <hr/>
</div>

<div id="playlist-header" class="header drag-and-snap rounded-module anchor-bottom anchor-top anchor-left anchor-right">
    <button id="button-close" class="float-right"><img src="~/images/close-icon-small.gif"/></button>
    <button id="button-minimize" class="float-right"><img src="~/images/minimize-icon-small.gif"/></button>
    <span id="playlist-title">Playlist</span>
</div>

<div id="playlist" class="drag-and-snap rounded-module anchor-bottom anchor-top anchor-left anchor-right">
    <div id="playlist-tabs">
        <label class="tab left-most-tab">Song</label>
        <label class="tab">Artist</label>
        <label class="tab right-most-tab">Album</label>
    </div>
    <div id="playlist-song-list" class="scrollable-list">
        <div class="content">       0 Hello </div>
        <div class="content-dark">  1 Hello </div>
        <div class="content">       2 Hello </div>
        <div class="content-dark">  3 Hello </div>
        <div class="content">       4 Hello </div>
        <div class="content-dark">  5 Hello </div>
        <div class="content">       6 Hello </div>
        <div class="content-dark">  7 Hello </div>
        <div class="content">       8 Hello </div>
        <div class="content-dark">  9 Hello </div>
        <div class="content">       10 Hello </div>
        <div class="content-dark">  11 Hello </div>
        <div class="content">       12 Hello </div>
        <div class="content-dark">  13 Hello </div>
        <div class="content">       14 Hello </div>
        <div class="content-dark">  15 Hello </div>
        <div class="content">       16 Hello </div>
        <div class="content-dark">  17 Hello </div>
        <div class="content">       18 Hello </div>
        <div class="content-dark">  19 Hello </div>
        <div class="content">       20 Hello </div>
        <div class="content-dark">  21 Hello </div>
        <div class="content">       22 Hello </div>
        <div class="content-dark">  23 Hello </div>
        <div class="content">       24 Hello </div>
        <div class="content-dark">  25 Hello </div>
        <div class="content">       26 Hello </div>
        <div class="content-dark">  27 Hello </div>
        <div class="content">       28 Hello </div>
        <div class="content-dark">  29 Hello </div>
        <div class="content">       30 Hello </div>
        <div class="content-dark">  31 Hello </div>
        <div class="content">       32 Hello </div>
        <div class="content-dark">  33 Hello </div>
        <div class="content">       34 Hello </div>
        <div class="content-dark">  35 Hello </div>
        <div class="content">       36 Hello </div>
        <div class="content-dark">  37 Hello </div>
        <div class="content">       38 Hello </div>
        <div class="content-dark">  39 Hello </div>
        <div class="content">       40 Hello </div>
        <div class="content-dark">  41 Hello </div>
        <div class="content">       42 Hello </div>
        <div class="content-dark">  43 Hello </div>
        <div class="content">       44 Hello </div>
        <div class="content-dark">  45 Hello </div>
        <div class="content">       46 Hello </div>
        <div class="content-dark">  47 Hello </div>
        <div class="content">       48 Hello </div>
        <div class="content-dark">  49 Hello </div>
        <div class="content">       50 Hello </div>
    </div>
</div>

<div id="media-library-header" class="header drag-and-snap rounded-module anchor-bottom anchor-top anchor-left anchor-right">
    <button id="button-add-media" class="button-round float-left"><img src="~/images/add-media-icon.gif"/></button>
    <button id="button-remove-media" class="button-round float-left"><img src="~/images/minimize-icon-small.gif"/></button>
    <button id="button-open-info-view" class="button-round float-left"><img src="~/images/info-view-icon.gif"/></button>
    <span id="media-library-title">Library</span>
    <button id="media-library-button-close" class="float-right"><img src="~/images/close-icon-small.gif" /></button>
    <button id="media-library-button-minimize" class="float-right"><img src="~/images/minimize-icon-small.gif" /></button>
    <input type="text" id="media-library-search-box" class="float-right" value="Search...">
</div>

<div id="media-library" class="drag-and-snap rounded-module anchor-bottom anchor-top anchor-left anchor-right">
    <div class="media-library-tabs">
        <label class="tab left-most-tab">Artist</label>
        <label class="tab">Albums</label>
        <label class="tab right-most-tab">Songs</label>
        <button id="media-library-artist-view-minimize" class="float-right"><img src="~/images/minimize-icon-small.gif"/></button>
    </div>
    <div id="media-library-artist-list" class="scrollable-list">
        <div class="content">0 Hello </div>
        <div class="content-dark">1 Hello </div>
        <div class="content">2 Hello </div>
        <div class="content-dark">3 Hello </div>
        <div class="content">4 Hello </div>
        <div class="content-dark">5 Hello </div>
        <div class="content">6 Hello </div>
        <div class="content-dark">7 Hello </div>
        <div class="content">0 Hello </div>
        <div class="content-dark">1 Hello </div>
        <div class="content">2 Hello </div>
        <div class="content-dark">3 Hello </div>
        <div class="content">4 Hello </div>
        <div class="content-dark">5 Hello </div>
        <div class="content">6 Hello </div>
        <div class="content-dark">7 Hello </div>
    </div>

    <div class="media-library-tabs">
        <label class="tab left-most-tab">Album</label>
        <label class="tab">Songs</label>
        <label class="tab right-most-tab">Length</label>
        <button id="media-library-album-view-minimize" class="float-right"><img src="~/images/minimize-icon-small.gif" /></button>
    </div>
    <div id="media-library-album-list" class="scrollable-list">
        <div class="content">0 Hello </div>
        <div class="content-dark">1 Hello </div>
        <div class="content">2 Hello </div>
        <div class="content-dark">3 Hello </div>
        <div class="content">4 Hello </div>
        <div class="content-dark">5 Hello </div>
        <div class="content">6 Hello </div>
        <div class="content-dark">7 Hello </div>
    </div>
   

    <div class="media-library-tabs">
        <label class="tab left-most-tab">Song</label>
        <label class="tab">Length</label>
        <label class="tab right-most-tab">Play Count</label>
        <button id="media-library-song-view-minimize" class="float-right"><img src="~/images/minimize-icon-small.gif" /></button>
    </div>
    
    <div id="media-library-song-list" class="scrollable-list">
        <div class="content">0 Hello </div>
        <div class="content-dark">1 Hello </div>
        <div class="content">2 Hello </div>
        <div class="content-dark">3 Hello </div>
        <div class="content">4 Hello </div>
        <div class="content-dark">5 Hello </div>
        <div class="content">6 Hello </div>
        <div class="content-dark">7 Hello </div>
    </div>
    </div>

<div id="info-view-header" class="header drag-and-snap rounded-module anchor-bottom anchor-top anchor-left anchor-right">
    <span id="info-view-global" class="rectangular-radio radio-checked float-left">Global</span>
    <span id="info-view-local" class="rectangular-radio radio-unchecked float-left">Local</span>
    <span id="info-view-title">Info</span>

    <button id="info-view-button-close" class="float-right"><img src="~/images/close-icon-small.gif"/></button>
    <button id="info-view-button-minimize" class="float-right"><img src="~/images/minimize-icon-small.gif" /></button>
</div>

<div id="info-view" class="drag-and-snap rounded-module anchor-bottom anchor-top anchor-left anchor-right">

    <div id="info-view-stats-global" class="info-view-content content">
        Test Stat -- Global
    </div>

    <div id="info-view-stats-local" class="info-view-content content" hidden>
        Test Stat -- Local
    </div>

    <div id="info-view-artist" class="info-view-content content" hidden>
        Test Artist
    </div>

    <div id="info-view-album" class="info-view-content content" hidden>
        Test Album
    </div>

    <div id="info-view-song" class="info-view-content content" hidden>
        Test Song
    </div>

    <div id="info-view-tabs">
        <label id="info-view-statistics-tab" class="one-quarter-width rectangular-radio radio-checked">Statistics</label>
        <label id="info-view-artist-tab" class="one-quarter-width rectangular-radio radio-unchecked">Artist</label>
        <label id="info-view-album-tab" class="one-quarter-width rectangular-radio radio-unchecked">Album</label>
        <label id="info-view-song-tab" class="one-quarter-width rectangular-radio radio-unchecked">Song</label>
    </div>

</div>

<div class="rounded-module"></div>