﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - CorrMediaPlayer</title>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css"/>
    </head>
    <body oncontextmenu="return false;">

        <div id="title-bar" class="header rounded-module anchor-bottom">
            <button id="button-file" class="float-left button-menu">File</button>
            <button id="button-options" class="float-left button-menu">Options</button>
            <button id="button-views" class="float-left button-menu">Views</button>
            <button id="button-help" class="float-left button-menu">Help</button>
            <label id="title-bar-title">CorrMediaPlayer</label>
            <button id="button-close"><img src="~/images/exit-icon.gif" /></button>
            <button id="button-dock"><img src="~/images/dock-icon.gif" /></button>
            <button id="button-minimize"><img src="~/images/minimize-icon.gif" /></button>
        </div>
        @RenderBody()


    <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("scripts", required: false)
    </body>
</html>
