﻿
html, body {
    color: rgba(0,0,0,0.7);
    background-color: transparent;
    overflow: hidden;
    min-width: 512px;
}

#title-bar-title {
    margin:0;
    width: 232px;
}

.rounded-module, #title-bar {
    background: -webkit-linear-gradient(left, rgba(0,30,70, 255) 0, rgba(0,100,170, 255) 2%, rgba(0,100,170, 255) 98%, rgba(0,30,70, 255) 100%);
    border: 1px solid black;
    border-radius: 5px;
    margin: 2.5px;
    padding: 3px;
    padding-left: 18px;
    padding-right: 18px;
    min-height: 25px;
}

#title-bar {
    background-color: rgb(0, 140, 210);
}

.header {
    width: auto;
    background-color: rgb(0, 140, 210);
    font-weight: bold;
    text-align: center;
}

.content, .content-dark {
    padding-left: 2px;
    padding-right: 2px;
    color: rgba(150, 200, 200, 0.7);
    font-size: 12px;
    background-color: rgba(0, 10, 50, 0.2);
}

.content-dark {
    /*background-color: rgb(20, 55, 115);*/
    background-color: rgba(0, 10, 50, 0.5);
}

.scrollable-list .content:hover, .scrollable-list .content-dark:hover {
    color: rgba(0, 255, 255, 0.7);
    font-weight: bold;
    background-color: rgba(0, 30, 70, 255);;
}

#button-close, #button-dock, #button-minimize {
    float: right;
}

button {
    margin: 0;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    min-width: 15px;
    min-height: 15px;
    font-weight: bolder;
    font-size: 12px;
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: -webkit-linear-gradient(rgba(0, 255, 255, 0.5), rgba(0, 255, 255, 0.2), rgba(0, 255, 255, 0.2), rgba(0, 255, 255, 0.5));
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

button img {
    width: 15px;
    height: 15px;
    margin: 0;
    margin-top: -4px;
    border: 0;
    opacity: 0.7;
}

button:hover {
    color: rgba(255,255,255,0.6);
    text-shadow: 0 1px 0 rgba(0,0,0,0.0);
    background-color: rgba(0, 0, 0, 0.07);
    background: -webkit-linear-gradient(rgba(0, 255, 255, 0.5), rgba(0, 255, 255, 0.7), rgba(0, 255, 255, 0.7), rgba(0, 255, 255, 0.5));
}

button:hover img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.button-round {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 3px;
    margin-bottom: 0;
}

.button-round img {
    margin-top: -8px;
    margin-left: -3px;
}

.button-menu {
    width: 50px;
}

.content-centered {
    text-align: center;
    align-content: center;
}


.left-column {
    float:left;
    width: 25%;
    padding-right: 10px;
    margin:0;
    padding-top: 4px;
}

.right-column {
    width: 25%;
    padding-left: 10px;
    float: right;
    padding-top: 4px;
}

.center-column {
    width: 260px;
    margin-left: 100px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    align-content: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

hr {
    float:left;
    width: inherit;
    width: 100%;
    border-color: black;
    margin: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    background: rgba(0, 30, 70, 255);
    box-shadow: inset 0 0 5px black;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    height: 10px;
    margin: 2px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgba(0, 100, 170, 1);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 1);
    border-right: 1px solid rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    border-radius: 4px;
    width: 25px;
    height: 10px;
}

input[type="range"]::-webkit-slider-thumb:hover, input[type="range"]:hover {
    cursor: pointer;
}

.control-panel-sliders {
    padding: 0;
    padding-right: 4px;
    width: 50%;
    margin: auto;
    margin-bottom: -1px;
    border: 1px solid black;
}

#control-line-break {
    margin: 0;
    margin-left: -3px;
    width: 258px;
    border-color: black;
}

#media-library-search-box {
    background-color: rgba(0, 0, 0, 0.2);
    width: 175px;
    height: 20px;
    margin-right: 3px;
    border: none;
    font-weight: normal;
}

#media-library-search-box:focus {
    font-weight: bold;
    border: none;
    background: -webkit-linear-gradient(rgba(0, 255, 255, 0.7), rgba(0, 255, 255, 0.2), rgba(0, 255, 255, 0.7));
}

.half-width {
    width: 50%;
}

.one-quarter-width {
    width: 25%;
}

.one-third-width {
    width: 33.3333333%;
    border: 1px solid black;
}

#playback-info-current, #playback-info-next {
    color: rgba(0,255,255,1);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    background: -webkit-radial-gradient(rgba(0, 255, 255, 0.1), rgba(0, 255, 255, 0.1),rgba(0, 255, 255, 0.7));
    margin-bottom: 3px;
}

#playback-info-next {
    width: 75%;
    margin: auto;
}

#info-view-tabs {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 0;
}

.rectangular-radio {
    font-size: 12px;
    margin: 0;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;  
    color: rgb(0, 0, 0);
    background: -webkit-linear-gradient(rgba(0, 255, 255, 0.5), rgba(0, 255, 255, 0.1),rgba(0, 255, 255, 0.5));
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 1);
    border-right: 1px solid rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.rectangular-radio:hover {
    cursor: pointer;
    color: rgba(0, 255, 255, 0.5);
    background: rgba(0, 30, 70, 255);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5px black;
}

.radio-checked {
    color: rgba(0, 255, 255, 0.5);
    background: rgba(0, 30, 70, 255);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5px black;
}

.media-library-tabs {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 0;
}

.tab {
    height: 25px;
    width: 30%;
    font-size: 12px;
    margin: 0;
    margin-top: -1px;
    margin-bottom: -5px;
    margin-right: -1px;
    padding: 0;
    padding-top: 3px;
}

.left-most-tab, .left-most-column {
    width: 30%;
    margin-right: 5%;
}

.right-most-tab, .left-most-column {
}

#playlist-tabs {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 0;
}

.info-view-content {
    border: 1px solid black;
    border-radius: 2.5px;
    height: 100px;
    margin-bottom: -1px;
    margin-left: 1px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5px black;
}

.scrollable-list {
    margin-top: 2px;
    max-height: 100px;
    overflow-y: scroll; 
    box-shadow: inset 0 0 10px black;
}

.scrollable-list::-webkit-scrollbar {
    background: rgba(0, 30, 70, 255);
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5px black;
}

.scrollable-list::-webkit-scrollbar-thumb {
    height: 25px;
    background: rgba(0, 100, 170, 1);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 1);
    border-right: 1px solid rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    border-radius: 5px;
}

#playlist-tabs, .media-library-tabs {
    height: 20px;
}